.body {
     text-align: center;
}

.centered-text {
    text-align: center;
    font-size: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
     margin-top: 30px;
    text-align: 35px;
     text-align: center;
}

.box {
    width: 1000px; 
    height: 300px; 
    border: 1px solid black;
    margin: 0 auto; 
    display: flex;
    justify-content: left; 
    align-items: left; 
}

.img {
    max-width: 500px;
    max-height: 500px;
    margin: 5px;
}

.a {
    text-decoration: none;
    color: black;
}

.image-container {
    display: flex;
    justify-content: center;
}


.image-container a {
    margin: 25px;
    text-decoration: none;
    color: black;
}


.image-container img {
    width: 500px;
    height: 500px;
}


.image-container p {
    margin: 10px 0;
}

.product {
    display: flex;
    padding: 0 50px; 
}


.product-description {
    padding: 0 100px; 
}

.buy-link, .download-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: blue;
}
